@model RegisterExternalModel

<h1>registration External</h1>
<form asp-controller = "Admin" asp-action = "RegisterExternal" method="post">
    <input hidden asp-for="ReturnUrl" />
    
    <div asp-validation-summary=All></div>

    <div>
        <label>UserName</label>
        <input asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
    </div>

    <p>
        <button type="submit">Save</button>
    </p>
</form>
